h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --main-color: #e5e5e5;
  --first-color: #ffffff;
  --second-color: #2f303a;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --btn-color: #2196f3;
  --eighth-footer-color: rgba(255, 255, 255, 0.6);
  --btn-port-color: #f5f4fa;
  --size-simple: 30px;
  --border-item-color: #eeeeee;
  --icon-social-color: #afb1b8;

  --transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--first-color);
  color: var(--second-text-color);
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
button:hover,
button:focus {
  cursor: pointer;
}
.about-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}
.container-list {
  background: var(--first-color);
  box-shadow: rgba 0;
}
/*----------------------------------------------ВЕРХНЯЯ ЛИНИЯ---------------------------------------------------*/

/*-----------------------------------------------------ГЕРОЙ-------------------------------------------------------*/

/*----------------------------------------------------------------------- Особенности------------------------------------------------------------------------ */
.work {
  background-color: var(--first-color);
}
.spc-combo {
  width: 270px;
  flex-basis: calc((100% - 60px) / 4);
}
.spc-combo-icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.antenna {
  --antenna-color: var(--second-text-color);
  --antenna-accent-color: var(--btn-color);
}
.clock {
  --clock-color: var(--second-text-color);
  --clock-accent-color: var(--btn-color);
}
.diagramm {
  --diagramm-color: var(--second-text-color);
  --diagramm-accent-color: var(--btn-color);
}
.astronaut {
  --astronaut-color: var(--second-text-color);
  --astronaut-accent-color: var(--btn-color);
}
.spc-text-list .spc-combo + .spc-combo {
  margin-left: 30px;
}
.spc-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.spc-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.spc-text-list {
  display: flex;
}
/*------------------------ ------------------------ Чем мы занимаемся----------------------------------------------------------------- */
.about-profession-list {
  margin: 0;
  display: flex;
}
.about-profession {
  background-color: var(--first-color);
  padding-top: 0;
}
.profession + .profession {
  margin-left: 30px;
}
.profession-box {
  position: relative;
}
.bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}
.text-bottom {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-color);
}

/*-------------------------------------------------- Наша команда -----------------------------------------------------------------------*/
.about-team {
  background-color: var(--btn-port-color);
}
.team-info {
  background: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.words {
  align-items: center;
  padding: 30px 32px 32px 32px;
  text-align: center;
}
.team-name {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-list {
  display: flex;
}

.team-list .team-info + .team-info {
  margin-left: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  fill: var(--icon-social-color);
}

.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  color: var(--icon-social-color);
  transition: color var(--transition-time) var(--cubic);
}

.team-social-link,
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--cubic);
}

.team-social-link:hover,
.team-social-link:focus,
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--btn-color);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon,
.footer-social-link:hover .team-social-icon,
.footer-social-link:focus .team-social-icon {
  fill: var(--first-color);
}

.team-social-icon {
  fill: currentColor;
}

.work-direction {
  font-weight: normal;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
/*----------------------ПОСТОЯННЫЕ КЛИЕНТЫ------*/
.client-list {
  display: flex;
  justify-content: center;
}
.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item + .client-item {
  margin-left: 30px;
}
/*.client-item:hover .client-link,
.client-item:focus .client-link {
  color: var(--btn-color);
  border-color: var(--btn-color);
}*/
.client-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-social-color);
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;
  transition: color var(--transition-time) var(--cubic),
    border-color var(--transition-time) var(--cubic);
}
.client-link:hover,
.client-link:focus {
  color: var(--btn-color);
  border-color: var(--btn-color);
}
.client-icon {
  fill: currentColor;
}
/*.client-icon:hover,
.client-icon:focus {
  border-color: var(--btn-color);
  fill: var(--btn-color);
}*/

/*------------------------------------------------- Подвал------------------------------------------------------------------------------ */
.footer-container {
  display: flex;
  align-items: baseline;
}
.about-contacts {
  background-color: var(--second-color);
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.addres-map {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-color);
}
.l-link {
  transition: color var(--transition-time) var(--cubic);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--eighth-footer-color);
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-color);
  display: inline-block;
  margin-bottom: 20px;
}
.black-logo {
  color: var(--second-text-color);
}

.white-logo {
  color: var(--first-color);
}
.footer-map {
  display: block;
}
.footer-list :not(:last-child) {
  margin-bottom: 9px;
}
.footer-block {
  max-width: 231px;
  margin-right: 70px;
}
.social-block {
  display: block;
  margin-right: auto;
}
.social-footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
}
.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer-social-icon {
  fill: var(--first-color);
}
.spam-section {
  display: flex;
}
.spam-title {
  margin-bottom: 20px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
}
.spam-mail {
  width: 358px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--eighth-footer-color);
}
.btn-spam {
  display: flex;
  margin: 0px;
  padding: 0px;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  justify-content: center;
  align-items: center;

  letter-spacing: 0.06em;
  color: var(--first-color);
  background: var(--btn-color);
  border: 0;
  border-radius: 4px;

  transition: background-color var(--transition-time) var(--cubic);
}
.btn-spam:hover,
.btn-spam:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.spam-icon {
  fill: currentColor;
  margin-left: 10px;
}
/*-------------------------------------------отдельно к портфолио----------------------------------------------------------------------*/
.main-btn-filter {
  transition: background-color var(--transition-time) var(--cubic),
    color var(--transition-time) var(--cubic),
    box-shadow var(--transition-time) var(--cubic);
  display: inline-block;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  cursor: pointer;
  background: var(--btn-port-color);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 5px;
  border: none;
}
.btn-filter + .btn-filter {
  flex-wrap: wrap;
  margin-left: 8px;
}
.main-btn-filter :not(:first-child) {
  margin-left: 8px;
}
.main-btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.main-btn-filter:hover,
.main-btn-filter:focus {
  color: var(--first-color);
  background-color: var(--btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------------------------------------ПРОЕКТ-------------------------------------------------------------------------------------*/
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.item-project:hover,
.item-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list .item-project {
  flex-basis: calc(100% / 3 - var(--size-simple));
  margin-left: var(--size-simple);
  margin-top: var(--size-simple);
}
.item-link {
  display: block;
  transition: box-shadow var(--transition-time) var(--cubic);
}
.item-link:hover,
.item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item-link:hover .over-text {
  transform: translateY(0);
}

/*.item-project:nth-child(3n) {
  margin-right: 0;
}
.item-project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}*/

.over-box {
  position: relative;
  overflow: hidden;
}
.over-t {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.over-text {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--first-color);
}
/*.over-t,*/
.over-text {
  transform: translateY(101%);
  transition: transform var(--transition-time) var(--cubic),
    opacity var(--transition-time) var(--cubic);
}
/*.item-project:hover .over-t,*/
.item-project:hover .over-text,
/*.item-link:focus .over-t,*/
.item-link:focus .over-text {
  transform: translateY(0);
  opacity: 1;
}
.item-squad {
  padding: 20px 24px;
  border: 1px solid var(--border-item-color);
  border-top: 0;
}
/*---------------МОДАЛЬНОЕ ОКНО----------*/
.darkspace {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
}
.darkspace.is-hidden .modal {
  transform: scale(1.8) rotate(90deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  min-height: 581px;
  background-color: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform var(--transition-time) var(--cubic);
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  outline: none;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: outline var(--transition-time) var(--cubic),
    color var(--transition-time) var(--cubic);
}
.modal-close:focus {
  outline: 1px solid var(--btn-color);
}
.modal-close:hover {
  outline: var(--btn-color);
}
.close-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--transition-time) var(--cubic);
}
.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--btn-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-comment-field {
  margin-bottom: 20px;
}
.icon-wrap {
  position: relative;
}
.title-modal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--second-text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  line-height: 1.25;
  left: 616px;
  top: 282px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--second-text-color);
  transition: border-color var(--transition-time) var(--cubic),
    outline var(--transition-time) var(--cubic);
}
.modal-input:focus {
  outline: 1px solid var(--btn-color);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--transition-time) var(--cubic),
    outline var(--transition-time) var(--cubic);
}
.modal-input:focus + .input-icon {
  fill: var(--btn-color);
}
.modal-input-comment {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-time) var(--cubic),
    outline var(--transition-time) var(--cubic);
}
.modal-input-comment:focus {
  outline: 1px solid var(--btn-color);
}
.modal-input-comment ::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: normal;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-text {
  top: 0;
  left: 0;

  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.14;

  letter-spacing: 0.01em;

  color: var(--third-text-color);
  transition: border-color var(--transition-time) var(--cubic),
    outline var(--transition-time) var(--cubic);
}
.send-btn {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.modal-check-text {
  display: flex;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: center;

  color: var(--third-text-color);
}
.modal-check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-color);
  margin-right: 7px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--transition-time) var(--cubic),
    border var(--transition-time) var(--cubic);
  outline: none;
}
.icon-vector-check {
  fill: transparent;
  transition: fill var(--transition-time) var(--cubic);
}
.modal-check:checked + .modal-check-text span {
  background-color: #2196f3;
  border: none;
}
.modal-check:focus + .modal-check-text span {
  border: 2px solid var(--btn-color);
}
.modal-check-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 4px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--btn-color);
  outline: none;
  transition: outline var(--transition-time) var(--cubic);
}

.modal-check-link:focus {
  outline: 2px solid var(--btn-color);
  border-radius: 2px;
}

/*.modal-check-text::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 0.2px solid var(--second-color);
  margin-right: 10px;
  border-radius: 2px;
}
.modal-check:checked + .modal-check-text::before {
  background-image: url(../img/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}*/
