.info {
  background-color: var(--first-color);
  border-bottom: 1px solid var(--main-color);
}

.first-main {
  display: flex;
  align-items: center;
}

.link-navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation {
  display: flex;
}

.navigation + .navigation {
  margin-left: 50px;
}

.navigation-link:hover,
.l-link:hover,
.navigation-link.current,
.contacts-link:hover,
.contacts-tel-link:hover,
.navigation-link:focus,
.contacts-link:focus,
.l-link:focus,
.contacts-tel-link:focus {
  color: var(--btn-color);
}

.current {
  position: relative;
}

.main-btn-filter.current:hover,
.main-btn-filter.current {
  color: var(--first-color);
  background-color: var(--btn-color);
}

.nav-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav-smart {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  transition: color var(--transition-time) var(--cubic);
}

.navigation-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--btn-color);
  border-radius: 2px;
}

.link-contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-link,
.contacts-tel-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--third-text-color);
  transition: color var(--transition-time) var(--cubic);
}
