.about-team {
  background-color: var(--btn-port-color);
}
.team-info {
  background: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.words {
  align-items: center;
  padding: 30px 32px 32px 32px;
  text-align: center;
}
.team-name {
  font-weight: medium;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-list {
  display: flex;
}

.team-list .team-info + .team-info {
  margin-left: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  fill: var(--icon-social-color);
}

.team-social-item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.team-social-link {
  color: var(--icon-social-color);
  transition: color var(--transition-time) var(--cubic);
}

.team-social-link,
.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-time) var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--btn-color);
  }
  &:hover .team-social-icon,
  &:focus .team-social-icon {
    fill: var(--first-color);
  }
}

/*.footer-social-link:hover .team-social-icon,
.footer-social-link:focus .team-social-icon .team-social-icon {
  fill: currentColor;
}*/

.work-direction {
  font-weight: normal;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
