.logo,
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  @include font(26px, 1.19, 00.03em, bold);
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  color: var(--btn-color);
}
.footer-logo-link {
  display: inline-block;
  margin-bottom: 20px;
}
.logo__accent {
  color: var(--second-text-color);
}

.white-logo {
  color: var(--first-color);
}
